// Theme Information
//--------------------------------------------//
$theme_name: "Mama's on the Halfshell Parent Theme";
$theme_uri: "#";
$theme_description: "Parent theme for Mama's on the Halfshell";
$theme_version: "1.0";
$theme_author: "Derek Hargest";
$theme_author_uri: "http://www.nachomamas.com";
$theme_license: "GPL";
$theme_tags: "responsive-layout, post-formats";

$font-stack: 'Roboto', sans-serif;

$font-stack-heading: 'Roboto Slab', serif;

$c-light-blue: #2394be;
$c-green: #005b3b;
$c-red-orange: #f04413;
$c-orange: #f36c34;
$c-white: #fef2de;
$c-dark-blue: #003e56;
$c-yellow: #f1d96b;
$c-black: $c-dark-blue;

$c-brown: #922507;
$c-light-brown: #483834;
$c-dark-gray: #38403b;
$c-light-gray: #a09d90;

$c-text-color: $c-light-brown;
$c-active-page: $c-dark-blue;
$c-content-heading: $c-text-color;
$c-shadow-color: #0c4e64;

$border: 1px solid $c-text-color;
$drop-shadow: 0px 3px 1px $c-light-brown;
